@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&family=Montserrat&family=Source+Sans+Pro:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-mont {
    font-family: 'Montserrat', sans-serif;
}

.font-source {
    font-family: 'Source Sans pro', sans-serif;
}

.title {
    font-size: 10rem;
    line-height: 1;
}

p {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 1rem
}
